name: Run Tox Tests

on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - "*"

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: ['2.7', '3.6', '3.7', '3.8', '3.9', '3.10', '3.11', '3.12']
        pandas-presence: ['with_pandas', 'without_pandas']
    env:
      PYTHON_VERSION: ${{ matrix.python-version }}
      PANDAS_PRESENCE: ${{ matrix.pandas-presence }}
    steps:
    - uses: actions/checkout@v2
    - uses: gabrielfalcao/pyenv-action@v17
      with:
        default: "${{ matrix.python-version }}"
    - name: Install Python ${{ matrix.python-version }}
      run: |
          pyenv install "${{ matrix.python-version }}"
          pyenv local "${{ matrix.python-version }}"
          pyenv versions
    - name: Install dependencies
      run: |
        pip install -U pip
        pip install tox tox-gh-actions
    - name: Test with tox
      run: |
        PYTHON_ENV="py$(echo $PYTHON_VERSION | sed 's/\.//;s/\-dev//')"
        tox -e "${PYTHON_ENV}-${PANDAS_PRESENCE}"
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1.0.10
      with:
        file: ./coverage.xml
        flags: unittests
        env_vars: PYTHON_VERSION,PANDAS_PRESENCE
